<nav class="navbar navbar-light bg-faded personalHeader">
  <a class="navbar-brand" href="#" style="height: 100%;width:100%;">
    <div class="pull-right" style="margin-right:40px;">
        <img src="{{asset('images/upo.png')}}" class="d-inline-block align-top img-responsive" alt="" style="max-height: 52px;">
    </div>
    <div class="pull-right" style="margin-right:40px;">
        <img src="{{asset('images/csic.png')}}" class="d-inline-block align-top img-responsive" alt="" style="max-height: 50px;">
    </div>
    <div class="pull-left title"><i>C3UPO</i></div>
  </a>
</nav>