<div class="{#formCreation#} row m-0">
    <div class="col-xs-12" style="padding:50px;">
        <h3>{{'registerInfo'|trans}}</h3>
    </div>
    <div {#id="formContent"#} class="col-xs-12" style="padding:0px 50px 50px 50px;">
        {{ include('AppBundle:Registration:registrationForm.html.twig') }}
    </div>
</div>